@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

* {
    text-align: center;
    font-family: 'Lato', sans-serif;
    outline: none;
    text-decoration: none;
}

#teleoperado{
    display: none;
}
#parteFinal{
    display: none;
}
#botaoReiniciar{
    display: none;
}

.contar {
    display: flex;
    justify-content: center;
    align-items: center;
}


.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d650d2;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 20px;
    width: 50vw;
    height: 20vh;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

/* .subtitulo {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
} */

.logotipo{
    width: 15vw;
    height: 30vh;
    margin-right: 2vw;
    margin-left: 2vw;
}
#primeiroHr{
    margin-top: 0;
}
hr{
    margin-top: 5vh;
    width: 85vw;
}

.premios{
    display: flex;
    flex-direction: column;
}
.tipos h2{
    margin-bottom: 5vh;
}

.card{
    font-size: 0.9rem;
    margin: auto;
    display: flex;
    width: 50vw;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 4vh;
    border-radius: 5px;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}
.card p{
    width: 30vw;
    margin-right: 2vw;
}
input{
    min-width: 20px;
    min-height: 20px;
}

#resultado{
    width: 10vw;
    height: 5vh;
    border: 0;
    margin: 0;
}
/* button{
    cursor: pointer;
    width: 10vw;
    height: 5vh;
    border: 0;
    
}
button:hover{
    transition-duration: 0.5s;
    color: white;
    background-color: #BD08C1;
} */
button {
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 10vw;
    height: 6vh;
    color: black;
    border: none;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
  }
  
  button::before {
    content: "";
    background-color: #BD08C1;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
  
  button:hover::before {
    width: 100%;
  }
  
#Final{
    font-size: 1.5rem;
}
.resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#resultado{
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 10vw;
    height: 6vh;
    color: black;
    border: none;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 2vh;
}
#Final{
    margin: 0;
    color: whitesmoke;
}
.opcoes{
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: black;
    border: none;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

/* Hide the default checkbox */
.container input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 0;
 width: 0;
}

.container {
 display: block;
 position: relative;
 cursor: pointer;
 font-size: 25px;
 user-select: none;
}

/* Create a custom checkbox */
.checkmark {
 position: relative;
 top: 0;
 left: 0;
 height: 1.3em;
 width: 1.3em;
 background: black;
 border-radius: 50px;
 transition: all 0.7s;
 --spread: 20px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
 background: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
 display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
 left: 0.45em;
 top: 0.25em;
 width: 0.25em;
 height: 0.5em;
 border: solid #f0f0f0;
 border-width: 0 0.15em 0.15em 0;
 transform: rotate(45deg);
}

.rodape{
    margin-top: 2vh;
    width: auto;
    height: auto;
    font-weight: 400;
    color: whitesmoke;
    justify-content: center;
}
.rodape ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.rodape li{
    cursor: pointer;
    padding: 1vw 1vw;
}
.rodape a{
    cursor: pointer;
    text-decoration: none;
}
.rodape a:hover{
    transition-duration: 0.5s;
    color: #d650d2;
}
.rodape a{
    color: white;
}
.rodape i{
    margin-right: 5px;
}

/* .tipos {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 50%
    }
  
    to {
      margin-left: 25%;
      width: 50%;
    }
  } */

@media screen and (max-width:900px) {
    button{
        width: 35vw;
        height: 6vh;
    }
    #resultado{
        width: 35vw;
        height: 6vh;
        margin-bottom: 2vh;
    }
    .resultado{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card p{
        width: 60vw;
        font-size: 0.8rem;
    }
    .card{
        width: 80vw;
        height: auto;
    }
    .logotipo{
        width:20vw;
        height: 10vh;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    .titulo{
        width: 60vw;
        font-size: 1.3rem;

    }
    
}